
/* divs at top of all pages. Associated code found in "views/layouts/application.html.erb" */
	
#layout-top{
	height: 9em;
	borders: solid black 0.1em;  
}

#title-top{
	height: 4em;
	widths: 16em;
	background-colors: #fcc; /* pink */
	borders: solid black 0.1em; 
}

#title-top span{
	display: block;
	font-size: 3em;
	font-weight: bold;
	/* top right bottom left */
	padding: 0.5em 0em 0em 0.5em;
}	

#search-new-product{
	height: 3em;
	width: 24 em; /* 58em; */
	/* top right bottom left */
	padding: 1em 0em 0em 1em;
	background-colors: #aaa; /* dark grey */
	borders: solid black 0.1em;
}

#book-search{ 
	width: 13.5em;
	float: left;
	background-colors: #00f; /* blue */
	borders: solid black 0.1em;
}

#new-product{ 
	width: 6.5em;
	heights: 5.5em;
	float: left;
	background-colors: #f00; /* red */
	borders: solid black 0.1em; 
}

/* display 'flash' session/hash error messages at the bottom of the header 
of each page see "views/layouts/application.html.erb" */
#feedback-top{
	height: 1.4em;
	line-height: 1.4em;
	/* top right bottom left */
	padding: 0em 0em 0em 1em;
	background-colors: #c51; /* dark orange */
	borders: solid black 0.1em;
}
